.CompareMainContainer {
  height: 40vmin;
  background-color: #373b43;
  min-height: 100vh;
  display: inline-table;
  padding: 20vmin;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: -webkit-fill-available;
}

.indicator{
  DISPLAY: inline-block;
}
.CompareResult{
  display: inline-block;
  width: 100%;
}

.input-left{
  width: 40%;
}

.input-right{
  width: 40%;
}

@media (max-width: 1020px) {
  .indicator {
      width: 100%;
  }

  .input-left{
    width: 100%;
  }
  
  .input-right{
    width: 100%;
  }
}