.CompareMainContainer {
  height: 40vmin;
  background-color: #373b43;
  min-height: 100vh;
  display: inline-table;
  padding: 20vmin;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: -webkit-fill-available;
}

.indicator{
  DISPLAY: inline-block;
}
.CompareResult{
  display: inline-block;
  width: 100%;
}

.input-left{
  width: 40%;
}

.input-right{
  width: 40%;
}

@media (max-width: 1020px) {
  .indicator {
      width: 100%;
  }

  .input-left{
    width: 100%;
  }
  
  .input-right{
    width: 100%;
  }
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}