.compareResult{
    width: 90%;
    min-height: 30vmin;
    display: inline-block;
}

.output{
    width: 100%;
    resize: none;
    min-height: 50vh;
}

.diffResult{
    width: 70%;
    float: left;
}

.diffCount{
width: 20%;
max-width: 250px;
float: right;
}