
.selected{
    font-weight: 600;
}

.menu {
    background-color: white;
    padding: 1px;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-family: Arial, sans-serif;
  }
  
  .menu a.active {
    font-weight: bold;
  }
  
  .menu a:hover {
    color: white;
    background-color: black;
  }
  